#include "planck.dtsi"
#include <dt-bindings/led/led.h>
#include "leds_left.dtsi"

&left_encoder {
    status = "okay";
};

&matrix_physical_layout {
  	kscan = <&kscan0>;
};

/ {
	chosen {
		zmk,physical-layout = &matrix_physical_layout;
	};
  kscan0: kscan_composite {
		compatible = "zmk,kscan-composite";
		columns =<50>;

		matrix {
			kscan = <&kscan1>;
		};
		encoder {
			kscan = <&kscan2>;
			row-offset=<0>;
			col-offset=<18>;
		};
	};
	kscan1: kscan {
		compatible = "zmk,kscan-gpio-direct";
		wakeup-source;
		input-gpios
			=  <&gpio0  28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //5
			, <&gpio0  05 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //5
		    , <&gpio0  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //12
			, <&gpio0  21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //13
            , <&gpio0  19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //18
            ,<&gpio0  16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //19
			, <&gpio0  27 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //14
			, <&gpio0  25 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //14
			, <&gpio0  23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //17
			, <&gpio0	14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //20
            , <&gpio0  13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //ex1
            , <&gpio0  15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //4
			, <&gpio0  30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //16
			, <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //21
            , <&gpio1  12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //ex2
			, <&gpio1  11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //3
		    , <&gpio1  05 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //6
            , <&gpio1  13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //11
			, <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> //2
			, <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //7
			, <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //10
				, <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //15
		;
	};
	kscan2: kscan_encoder {
		compatible = "zmk,kscan-gpio-direct";
		wakeup-source;
		input-gpios
			=  <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  //5
		;
	};
};
